@import "tailwindcss";

@theme inline {
  --color-background: #ecebe6;
  --color-foreground: #1c1c1c;
  --font-sans: "General Sans", sans-serif;
}

body {
  background: theme(--color-background);
  color: theme(--color-foreground);
  font-family: theme(--font-sans);
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
